* {
    scrollbar-width: 7px;
    scrollbar-color: #f2f3f4 transparent;
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

html {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: Inter, Helvetica, "sans-serif";
    /* 4 */
    font-feature-settings: normal;
    /* 5 */
    font-variation-settings: normal;
    /* 6 */
}

html {
    font-family: Inter, Helvetica, "sans-serif";
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 13px;
}




body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.relative {
    position: relative;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pt-14 {
    padding-top: 3.5rem;
}

.absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.lg\:flex {
    display: flex;
}
.min-w-0 {
    min-width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-bold {
    font-weight: 700;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.w-full {
    width: 100%;
}

.max-w-full {
    max-width: 100%;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.flex {
    display: flex;
}

.flex-\[1_auto\] {
    flex: 1 auto;
}

.flex-col {
    flex-direction: column;
}

.break-words {
    overflow-wrap: break-word;
}

.rounded-\[\.95rem\] {
    border-radius: .95rem;
}

.bg-clip-border {
    background-clip: border-box;
}

.rounded-2xl {
    border-radius: 1rem;
}

.border {
    border-width: 1px;
}

.border-dashed {
    border-style: dashed;
}

.border-stone-200 {
    --tw-border-opacity: 1;
    border-color: rgb(231 229 228 / var(--tw-border-opacity));
}

.bg-light\/30 {
    background-color: rgb(249 250 252 / 0.3);
}

.min-h-\[70px\] {
    min-height: 70px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-stretch {
    align-items: stretch;
}

.justify-between {
    justify-content: space-between;
}

.bg-transparent {
    background-color: transparent;
}

.px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

.pb-0 {
    padding-bottom: 0px;
}

.pt-5 {
    padding-top: 1.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.ml-0 {
    margin-left: 0px;
}

.items-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.text-xl\/tight {
    font-size: 1.25rem;
    line-height: 1.25;
}

.font-medium {
    font-weight: 500;
}

.text-dark {
    --tw-text-opacity: 1;
    color: rgb(12 25 59 / var(--tw-text-opacity));
}

.mr-3 {
    margin-right: 0.75rem;
}

.font-semibold {
    font-weight: 600;
}

.mt-1 {
    margin-top: 0.25rem;
}

.text-lg\/normal {
    font-size: 1.125rem;
    line-height: 1.5;
}

.text-secondary-dark {
    --tw-text-opacity: 1;
    color: rgb(155 167 181 / var(--tw-text-opacity));
}

.block {
    display: block;
}

.flex-auto {
    flex: 1 1 auto;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pt-6 {
    padding-top: 1.5rem;
}

.overflow-x-auto {
    overflow-x: auto;
}

table {
    text-indent: 0;
    /* 1 */
    border-color: inherit;
    /* 2 */
    border-collapse: collapse;
    /* 3 */
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.border-neutral-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 229 229 / var(--tw-border-opacity));
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.text-\[0\.95rem\] {
    font-size: 0.95rem;
}

.min-w-\[175px\] {
    min-width: 175px;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.text-start {
    text-align: start;
}

.min-w-\[100px\] {
    min-width: 100px;
}

.text-end {
    text-align: end;
}

.pr-12 {
    padding-right: 3rem;
}

.min-w-\[50px\] {
    min-width: 50px;
}

.border-b {
    border-bottom-width: 1px;
}

.p-3 {
    padding: 0.75rem;
}

.pl-0 {
    padding-left: 0px;
}

.items-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}

b,
strong {
    font-weight: bolder;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.duration-200 {
    transition-duration: 200ms;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.pr-0 {
    padding-right: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.ml-auto {
    margin-left: auto;
}

.h-\[25px\] {
    height: 25px;
}

.w-\[25px\] {
    width: 25px;
}

.cursor-pointer {
    cursor: pointer;
}

.border-0 {
    border-width: 0px;
}

.bg-light-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(242 243 244 / var(--tw-bg-opacity));
}

.text-center {
    text-align: center;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.leading-normal {
    line-height: 1.5;
}

.shadow-none {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.m-0 {
    margin: 0px;
}

.shrink-0 {
    flex-shrink: 0;
}

.p-0 {
    padding: 0px;
}

.leading-none {
    line-height: 1;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    /* 1 */
    vertical-align: middle;
    /* 2 */
}

.h-4 {
    height: 1rem;
}

.w-4 {
    width: 1rem;
}

.last\:border-b-0:last-child {
    border-bottom-width: 0px;
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.hidden {
    display: none;
}

.sm\:flex {
    display: flex;
}

